<%- include('./partials/_header.ejs') %>
        
        <div class="container container-flex routes">
            <div class="route-container new-route">
                <p class="route-p">New here? Let's <a class="route-a fw-400" href="/register">register</a> to the Dark Side</p>
            </div>
            <div class="route-container reg-route">
                <p class="route-p">Otherwise, just <a class="route-a fw-400" href="/access">access</a> to your power</p>
            </div>
        </div>

<%- include('./partials/_footer.ejs') %>