    <footer class="container container-flex">
        <p>Project developed and deployed by <a class="fw-400" href="">Fabian Bejarano</a></p>
        <p>Disclaimer: This website is not encoding the data since it is for education purposes. Do not enter sensitive information</p>
    </footer>
    </div>

</body>
</html>