<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks Manager</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./styles/reset.css">
    <link rel="stylesheet" type="text/css" href="./styles/styles.css">
</head>
<body>


    <div class="main-container">
        <header>
            <div class="container container-flex">
                <h1 class="title fw-400">Welcome to <a href="/" class="fw-700">Dark Tasks Manager</a></h1>
                <p class="subtitle">My mission is to help you with the Obscure Art of managing your tasks</p>
            </div>
        </header>